body {
  margin: 0;
  padding: 0;
}

//* App ======================== */
.App {
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  grid-template-columns: 5fr 95fr;
}

//* Content ======================== */
.content {
  margin: 0;
  padding: 32px;
  grid-area: content;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 32px;
  background-color: hsl(0, 0, 10);
}

//* Sidebar ======================== */
.sidebar {
  margin: 0;
  padding: 32px 0;
  grid-area: sidebar;
  background-color: hsl(6, 100, 30);
  width: 5vw;
  min-width: 60px;
  max-width: 80px;
  text-align: center;

  span {
    color: white;
  }

  &--item {
    display: inline-block;
    width: 100%;
    margin: 10px auto;
  }
}

//* Cards ======================== */

.card {
  &__clock {
    border-radius: 10px;
    border: 1px solid black;
    background-color: hsl(0, 0, 35);
    min-height: 100%;
    min-width: 100%;
    grid-column: 1 / 6;
    grid-row: 1 / 4;
  }
  &__weather {
    border-radius: 10px;
    border: 1px solid black;
    background-color: hsl(0, 0, 35);
    min-height: 100%;
    min-width: 100%;
    grid-column: 6 / 16;
    grid-row: 1 / 4;
  }

  &__todo {
    border-radius: 10px;
    border: 1px solid black;
    background-color: hsl(0, 0, 35);
    min-height: 100%;
    min-width: 100%;
    grid-column: 6 / 16;
    grid-row: 4 / 13;
  }

  &__assignments {
    border-radius: 10px;
    border: 1px solid black;
    background-color: hsl(0, 0, 35);
    min-height: 100%;
    min-width: 100%;
    grid-column: 1 / 6;
    grid-row: 4 / 10;
  }

  &__grades {
    border-radius: 10px;
    border: 1px solid black;
    background-color: hsl(0, 0, 35);
    min-height: 100%;
    min-width: 100%;
    grid-column: 1 / 6;
    grid-row: 10 / 13;
  }

  &__calendar {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid black;
    background-color: hsl(0, 0, 35);
    min-height: 100%;
    min-width: 100%;
    grid-column: 16 / 25;
    grid-row: 1 / 9;
    overflow: hidden;

    &__header {
      display: flex;
      justify-content: space-around;
    }

    &__weeks {
      height: 60%;

      table {
        border-spacing: 0;
        min-width: 100%;
        height: 100%;
        thead {
          th {
            background-color: hsl(180, 50, 50);
            border: 1px solid black;
            border-top: none;
            border-left: none;
            width: calc(100% / 7);
          }

          th:last-child {
            border-right: none;
          }
        }

        tbody {
          tr {
            td {
              background-color: hsl(60, 50, 50);
              border: 1px solid black;
              text-align: center;
              font-size: 24px;
              border-top: none;
              border-left: none;
            }

            td:last-child {
              border-right: none;
            }
          }
        }
      }
    }

    &__agenda {
      flex: 1;
      max-height: 40%;
      background-color: teal;
    }
  }

  &__meals {
    border-radius: 10px;
    border: 1px solid black;
    background-color: hsl(0, 0, 35);
    min-height: 100%;
    min-width: 100%;
    grid-column: 16 / 25;
    grid-row: 9 / 13;
  }
}
