body {
  margin: 0;
  padding: 0;
}

//* App ======================== */
.App {
  margin: 0;
  padding: 0;
  display: grid;
  min-height: 100vh;
  max-height: 100vh;
  grid-template-columns: 5fr 95fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar content"
}

//* Content ======================== */
.content {
  margin: 0;
  padding: 0;
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 8px;
  background-color: gray;
}


//* Sidebar ======================== */
.sidebar {
  margin: 0;
  padding: 0;
  grid-area: sidebar;
  background-color: darkblue;
}

//* Cards ======================== */

.card {
  border-radius: 50%;
  border: 1px solid black;
  background-color: lightblue;
  min-height: 100%;
  min-width: 100%;

  &-weather {
    grid-column: 5 / 8;
    grid-row: 1 / 2
  }
}